# Set the default editor
#if [ -f /usr/local/bin/gvim ]; then
#    export EDITOR='gvim'
#elif [ -f /usr/local/bin/subl ]; then
#    export EDITOR='subl'
#fi
export EDITOR="vim"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page, aws, or journalctl
export AWS_PAGER=more
export GITPAGER=cat
export MANPAGER=more
export PAGER=cat
export SYSTEMD_PAGER="less -r"

# Fix psycopg2 on 10.7.3
export PGHOST=/tmp

# no ._ files in archives please
export COPYFILE_DISABLE=true

