# https://github.com/wbs75/dotfiles/blob/master/.aliases
# 202310.21 add alias for icloud directory; add lll to show acls

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Always use color output for `ls`
if [[ "$OSTYPE" =~ ^darwin ]]; then
  alias ls="command ls -aFG"
else
  alias ls="ls -a --color"
  export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
fi

alias la="ls -Gla"
alias lll="ls -ld@eO"
alias lsd='ls -l | grep "^d"'

# List all files colorized in long format
alias l="ls -l ${colorflag}"
alias lst="tree -C"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"

# List only directories
alias lsd='ls -l ${colorflag} | grep "^d"'

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" 		# `cd` might be faster 
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias di="cd '~/Library/Mobile Documents/com~apple~CloudDocs'"
alias cdl="cd /usr/local"
alias cdb="cd /usr/local/bin "

# Imaging
#alias sparse1="hdiutil create -type SPARSE -size 1g -fs HFS+ growableTo1g"
#alias sparse10="hdiutil create -type SPARSE -size 10g -fs HFS+ growableTo10g"
#alias sparse15="hdiutil create -type SPARSE -size 15g -fs HFS+ growableTo15g"
#alias sparse25="hdiutil create -type SPARSE -size 25g -fs HFS+ growableTo25g"
#alias sparse50="hdiutil create -type SPARSE -size 50g -fs HFS+ growableTo50g"
#alias sparse100="hdiutil create -type SPARSE -size 100g -fs HFS+ growableTo100g"
#alias sparse150="hdiutil create -type SPARSE -size 150g -fs HFS+ growableTo150g"
#alias sparse300="hdiutil create -type SPARSE -size 300g -fs HFS+ growableTo300g"
#alias sparse500="hdiutil create -type SPARSE -size 500g -fs HFS+ growableTo500g"
#alias sparse1000="hdiutil create -type SPARSE -size 1000g -fs HFS+ growableTo1000g"
alias sparseDVD="hdiutil create -type SPARSE -sectors 9181224 -fs HFS+ SparseDVD; hdiutil attach SparseDVD.sparseimage"

alias grep="grep --color=auto"
alias h="history"
alias j="jobs"
alias s="subl ."
if [ -e /Applications/MacVim.app/Contents/MacOS/Vim ]; then
  #alias v="/Applications/MacVim.app/Contents/MacOS/Vim"
  #alias vim="/Applications/MacVim.app/Contents/MacOS/Vim"
else
  alias v="vim"
fi
alias typo='open -a /Applications/Typora.app'

alias o="open"
alias oo="open ."

alias bompkg="cd /private/var/db/receipts && lsbom -p MUGsf "
alias fs="stat -f \"%z bytes\""
alias pcmds="systemsetup -printCommands"
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
alias undopush="git push -f origin HEAD^:master"
alias a2='ssh vilain@ftp.vilain.com -p 7822'
alias a2sftp='sftp -P 7822 vilain@ftp.vilain.com'
alias ftp_load='sudo launchctl load -wF /Library/LaunchDaemons/ftp.plist'
alias ftp_unload='sudo launchctl unload -wF /Library/LaunchDaemons/ftp.plist'
alias ftp_start='sudo launchctl load -wF /Library/LaunchDaemons/ftp.plist && sudo launchctl start com.apple.ftpd'
alias ftp_stop='sudo launchctl stop com.apple.ftpd && sudo launchctl unload -wF /Library/LaunchDaemons/ftp.plist'
alias free='top -l 1 -s 0 | grep PhysMem'


# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
#alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup;gem update --system; npm update npm -g; npm update -g'
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup'

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

alias c="tr -d '\n' | pbcopy"
alias asa="sudo rm -rf  ~/Library/Saved\ Application\ State/*"
#alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"
alias flush="dscacheutil -flushcache"
#alias cleanasl="echo 'Cleaning ASL files...\c';sudo -S find -d /var/log/asl -name "AUX*" -exec rm -fr {} \;;sudo -S find -d /var/log/asl -name "*\.asl" -exec rm -fr {} \;;sudo -S find /var/log/DiagnosticMessages/ -name "*\.asl";sudo -S ls -@ailO /var/log/asl /var/log/DiagnosticMessages;echo;echo done."
alias cleanaudit="sudo -S ls /var/audit;echo;echo 'Cleaning audit data...\c';echo;sudo -S find /var/audit -name *\.2* -type f -exec rm -f {} \;;sudo -S ls /var/audit;echo;echo done."
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"
alias rootpref="sudo -s ls -@ailOR /private/var/root/Library/Preferences"
alias skext="sudo kextcache -system-prelinked-kernel && sudo kextcache -system-caches"
alias rb="sudo shutdown -r +1"

alias spotoff="sudo mdutil -a -i off"
alias spoton="sudo mdutil -a -i on"

alias showall="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hideall="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# enable or disable Bonjour
alias dbon="sudo launchctl unload -w /System/Library/LaunchDaemons/com.apple.mDNSResponder.plist"
alias ebon="sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.mDNSResponder.plist" 

alias localip="ipconfig getifaddr en1"
alias remoteip="wget -T 10 -t 1 -4qO- http://ip1.dynupdate.no-ip.com/"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias whois="whois -h whois-servers.net"
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias server="open http://localhost:8080/ && python -m SimpleHTTPServer 8080"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"
alias hax="growlnotify -a 'Activity Monitor' 'System error' -m 'WTF R U DOIN'"

alias varnishon='iptables -t nat -A PREROUTING -i eth0 -p tcp -m tcp --dport 80 -j REDIRECT --to-ports 6081;iptables -t nat -A PREROUTING -i eth0 -p tcp -m tcp --dport 6081 -j REDIRECT --to-ports 80'
alias varnishoff='iptables -t nat -D PREROUTING -i eth0 -p tcp -m tcp --dport 80 -j REDIRECT --to-ports 6081;iptables -t nat -D PREROUTING -i eth0 -p tcp -m tcp --dport 6081 -j REDIRECT --to-ports 80'
alias varnishstatus='iptables -L -t nat |grep -q 6081; if [ "test$?" = "test0" ]; then echo "Varnish On"; else echo "Varnish Off"; fi'
alias itb='pushd ~/Music/iTunes; zip "iTunes Library.`date "+%y-%m-%d-%H00"`.zip" *.{itl,xml} ; find . -name "iTunes Library*.zip" -mtime +2 -delete; popd'

alias dumpsnapshots='for i in `tmutil listlocalsnapshotdates / | grep 20`; do tmutil deletelocalsnapshots $i; done'
